; vim: set fileencoding=utf-8 :
; Manuel Guenther <Manuel.Guenther@idiap.ch>
; Tue Sep  4 14:34:37 CEST 2012

; This is the configuration file for buildout.

[buildout]
parts = external python
develop = .

; required packages: sphinx (to generate the documentation), bob, and our package.
eggs = sphinx
       bob
       bob.example.faceverify

; This points to the bob databases that are installed locally at Idiap
; TODO: remove this as soon as the databases are published at pypi
find-links = http://www.idiap.ch/software/bob/packages/xbob/nightlies/last

; This defines the installation directory of Bob.
; The current setup should work fine for use at Idiap.
; If you are not at Idiap, and bob is not installed in the default location,
; please modify the egg-directories accordingly.
; TODO: Change this directory back to the stable version of bob, when appropriate
[external]
recipe = xbob.buildout:external
egg-directories = /idiap/group/torch5spro/nightlies/last/install/linux-x86_64-release/lib


[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}
