; vim: set fileencoding=utf-8 :
; Manuel Guenther <Manuel.Guenther@idiap.ch>
; Tue Sep  4 14:34:37 CEST 2012

; This is the configuration file for buildout.

[buildout]
parts = scripts
newest = false
develop = .

; required packages: sphinx (to generate the documentation), bob, and our package.
eggs = bob.example.faceverify

; This points to the bob databases that are installed locally at Idiap
; TODO: remove this as soon as the databases are published at pypi
find-links = http://www.idiap.ch/software/bob/packages/xbob/nightlies/last

[bob.example.faceverify]
recipe = xbob.buildout:develop

[scripts]
recipe = xbob.buildout:scripts
